body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Distribuye las tarjetas de forma horizontal */
  gap: 20px; /* Espacio entre tarjetas */
}

.character-card {
  width: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.character-card img {
  width: 100%;
  border-radius: 10px;
}

.character-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.character-card:hover {
  transform: scale(1.1); 
  box-shadow: 0 8px 16px rgba(61, 200, 15, 0.79);
}